---
# CDT-2221 Alpha Red Team
# Anthony Swierkosz; ajs2576
# Ansible Control Node inventory file for global SSH control over blue team managed nodes.

all:
  children:

# -------------------------------
# ------------ Hosts ------------
# -------------------------------

# --- Two Blue Local Network

    # Teller PCs - Windows 95 v4.0.0.950 B
    tbl_teller_pcs:
      hosts:
        b1_tbl_teller_pc:
          ansible_host: 10.1.6.1
        b2_tbl_teller_pc:
          ansible_host: 10.2.6.1

    # Accountant PCs - Windows 7 Enterprise SP1
    tbl_account_pcs:
      hosts:
        b1_tbl_account_pc:
          ansible_host: 10.1.6.2
        b2_tbl_account_pc:
          ansible_host: 10.2.6.2

    # Executive PC - Windows 10 Enterprise 21H2
    tbl_executive_pcs:
      hosts:
        b1_tbl_executive_pc:
          ansible_host: 10.1.6.3
        b2_tbl_executive_pc:
          ansible_host: 10.2.6.3

    # Two Blue NetServices - Windows Server 2022 (20348)
    tbl_netservs:
      hosts:
        b1_tbl_netserv:
          ansible_host: 10.1.6.4
        b2_tbl_netserv:
          ansible_host: 10.2.6.4

    # Two Blue AD - Windows Server 2019 (17763)
    tbl_ads:
      hosts:
        b1_tbl_ad:
          ansible_host: 10.1.6.5
        b2_tbl_ad:
          ansible_host: 10.2.6.5

    # Two Blue Hannah Montana - Hannah Montana Linux (Ubuntu 9.04)
    tbl_hannahs:
      hosts:
        b1_tbl_hannah:
          ansible_host: 10.1.6.6
        b2_tbl_hannah:
          ansible_host: 10.2.6.6

    # Two Blue Linux - Ubuntu 22.04 Desktop
    tbl_linuxs:
      hosts:
        b1_tbl_linux:
          ansible_host: 10.1.6.7
        b2_tbl_linux:
          ansible_host: 10.2.6.7

# --- Cloud Networks

    # Big Money CEO PC - Windows Vista Ultimate SP2
    bigmoney_ceos:
      hosts:
        b1_bigmoney_ceo:
          ansible_host: 10.1.7.1
        b2_bigmoney_ceo:
          ansible_host: 10.2.7.1

    # Big Money Minecraft - CentOS 8
    bigmoney_mcs:
      hosts:
        b1_bigmoney_mc:
          ansible_host: 10.1.7.2
        b2_bigmoney_mc:
          ansible_host: 10.2.7.2

    # One United Web - Debian 9
    oneunited_webs:
      hosts:
        b1_oneunited_web:
          ansible_host: 10.1.7.3
        b2_oneunited_web:
          ansible_host: 10.2.7.3

    # One United Database - Ubuntu 20.04
    oneunited_dbs:
      hosts:
        b1_oneunited_db:
          ansible_host: 10.1.7.4
        b2_oneunited_db:
          ansible_host: 10.2.7.4

    # Two Blue AD - Windows Server 2003 Enterprise
    twoblue_ads:
      hosts:
        b1_twoblue_ad:
          ansible_host: 10.1.7.5
        b2_twoblue_ad:
          ansible_host: 10.2.7.5

    # Two Blue Server - Manjaro v???
    twoblue_servers:
      hosts:
        b1_twoblue_server:
          ansible_host: 10.1.7.6
        b2_twoblue_server:
          ansible_host: 10.2.7.6

    # Three Stars IIS - Windows Server 2012 (9200)
    threestars_iiss:
      hosts:
        b1_threestars_iis:
          ansible_host: 10.1.7.7
        b2_threestars_iis:
          ansible_host: 10.2.7.7

    # Three Stars Files - Kali Linux v???
    threestars_filess:
      hosts:
        b1_threestars_files:
          ansible_host: 10.1.7.8
        b2_threestars_files:
          ansible_host: 10.2.7.8

# -------------------------------
# --------- Team Groups ---------
# -------------------------------

# --- Blue Team 1

    # Linux
    b1_local_linux:
      hosts:
        b1_tbl_hannah:
        b1_tbl_linux:

    b1_cloud_linux:
      hosts:
        b1_bigmoney_mc:
        b1_oneunited_web:
        b1_oneunited_db:
        b1_twoblue_server:
        b1_threestars_files:

    b1_linux:
      children:
        b1_local_linux:
        b1_cloud_linux:

    # Windows
    b1_local_windows:
      hosts:
        b1_tbl_teller_pc:
        b1_tbl_account_pc:
        b1_tbl_executive_pc:
        b1_tbl_netserv:
        b1_tbl_ad:

    b1_cloud_windows:
      hosts:
        b1_twoblue_ad:
        b1_threestars_iis:

    b1_windows:
      children:
        b1_local_windows:
        b1_cloud_windows:

# --- Blue Team 2

    # Linux
    b2_local_linux:
      hosts:
        b2_tbl_hannah:
        b2_tbl_linux:

    b2_cloud_linux:
      hosts:
        b2_bigmoney_mc:
        b2_oneunited_web:
        b2_oneunited_db:
        b2_twoblue_server:
        b2_threestars_files:

    b2_linux:
      children:
        b2_local_linux:
        b2_cloud_linux:

    # Windows
    b2_local_windows:
      hosts:
        b2_tbl_teller_pc:
        b2_tbl_account_pc:
        b2_tbl_executive_pc:
        b2_tbl_netserv:
        b2_tbl_ad:

    b2_cloud_windows:
      hosts:
        b2_twoblue_ad:
        b2_threestars_iis:

    b2_windows:
      children:
        b2_local_windows:
        b2_cloud_windows:

# -------------------------------
# -------- Global Groups --------
# -------------------------------

# --- ALl Linux

    linux_locals:
      children:
        b1_local_linux:
        b2_local_linux:

    linux_clouds:
      children:
        b1_cloud_linux:
        b2_cloud_linux:

    linux:
      children:
        b1_linux:
        b2_linux:

# --- All Windows

    windows_servers:
      children:
        tbl_netservs:
        tbl_ads:
        twoblue_ads:
        threestars_iiss:

    windows_locals:
      children:
        b1_local_windows:
        b2_local_windows:

    windows_clouds:
      children:
        b1_cloud_windows:
        b2_cloud_windows:

    windows:
      children:
        b1_windows:
        b2_windows:
      vars:
        ansible_connection: ssh
        ansible_shell_type: cmd